<h2>Contact Your Online Pie Shop</h2>
<p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
@* 'Razor Language Service' extention required to get Tag helpers in intellisence*@ 
<email address ="info@@onlinepieshop.com" content="Contact Us"></email> 